{%extends "django_registration/base.html" %}
{% load bootstrap3 %}
{% block content %}
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-5" style="padding-top: 55px;">
      <img src="https://media.istockphoto.com/vectors/golden-sparkling-star-isolated-on-dark-luxury-horizontal-background-vector-id1178355686?k=20&m=1178355686&s=612x612&w=0&h=Qtv74bunoC46lAUjIDt4dqPS-zvrYGnZrKod-4D-7no=" alt="instagram">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4" style="margin-top: 20%;">
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
                <h1>Awwards</h1>

        </div>
        <div class="panel-body">

          <form  action="/accounts/login/" method="post">
            {% csrf_token %}
            

            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Login">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>
          

        </div>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}