{%extends 'base.html'%}
{% block content%}
<section style="background-color:#fffdd0;">
    <header style="background-image:url('https://w0.peakpx.com/wallpaper/564/740/HD-wallpaper-black-camera-lens-on-white-background.jpg') ; 
      background-repeat: no-repeat; background-size: cover;  padding-bottom: 30%;">
        <div id="container1" >
            <div class="container h-100 d-flex justify-content-center align-items-center">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                           <h3 style="color:#30D5C8; padding-top: 20%; font-size: 60px;font-family: 'Playfair Display', serif;">Shakes R.</h3>
                            <h3 class="white-text" style="color:#30D5C8;padding-top:10%; font-size:60px;font-family: 'Playfair Display', serif;" id="patch">Design . Content . Usability</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</section>
<h1 style=" margin-left: 40%; font-size: 70px;font-weight: bolder;text-decoration: underline;
font-family: 'Playfair Display', serif; background-color: #fffdd0;"> Shakes projects</h1>
  <div class="container-fluid" style="background-color:#fffdd0 ;">
    <div class="row" >
      {% for project in projects %}
      <div class="col-md-4">
        <div class="card-group">
          <div class="card card-personal mb-4">
            <div class="view">
              <a href="{% url 'ratings' project.title %}">
                <img class="card-img-top" style="height:280px; width:420px;" src="{{project.image.url}}" alt="Card image cap">
              
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <div class="card-body" style="height:220px; ">
              <h3 style="font-family: 'Playfair Display', serif;">{{project.title}}</h3>

              <a href="{{project.url}}" target="_blank" style="font-size:17px ; color:#30D5C8;
               background-color: rgba(0,0,0, 0.8); padding: 1%;">view site</a>

              <p class="card-text" style="font-size:16px ; margin-top:1%;"><b>Description:</b>{{project.description}}</p>
            
              <hr>
              <span><a href="profile"> <img style="border-radius: 50%; width:30px; height:30px; "
                    src="{{user.profile.image.url }}" alt="image"></a>
                <b>By: {{project.user.username}}</b></span>

              <p class="card-meta float-right">{{project.date}}</p>

            </div>
          </div>
        </div>


      </div>
      {% endfor %}

    </div>

  </div>

</div>

{%endblock%}